bin/
build/
lib/

# OSM PBF files
*.original.pbf

# Avoid Areas (too large for GitHub, even with LFS)
graphs/*.tif

# IDE
.idea/
.vscode/
.github/

# Python cache
__pycache__/
*.pyc

# Generated output files
*.html
generated/
